[Unit]
Description=Update multiple GitHub projects on Raspberry Pi
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=raspberrykung
WorkingDirectory=/home/raspberrykung/github-auto-update
ExecStart=/usr/bin/env bash /home/raspberrykung/github-auto-update/github-auto-update.sh
